*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #d8e4f7;
}
a {
    text-decoration: none;
}
#A-section{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: end;
    /* background-color: red; */

    #A-elements{
        display: flex;
        align-items: center;
        margin-right: 20px;
        gap: 30px;
        /* border: 4px solid rgb(4, 253, 112); */
    }
    .A-logo{
        font-size: 50px;
        color: #393f44;
        font-family: "Anton SC", sans-serif;
        font-weight: 800;
        font-style: normal;
    }
    .A-menu{
        font-size: 50px;
        color: #393f44;
        background: none;
        border: none;
    }
}
#AMAZONAS{
    width: 100%;
    height: 90vh;
    /* background-color: rgba(0, 0, 0, 0.581); */


    #AMAZONAS_SECTION{
    display: flex;
    flex-direction: row;
    justify-content: center;
    
        /* AMAZONAS TITLE + DESCRIPTION 🔰*/
        #AMAZONAS_TITLE_DESCRIPTION{
            width: 350px;
            height: 200px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            gap: 20px;
            /* background-color: rgba(65, 105, 225, 0.642); */
        }
        .AMAZONAS_TITLE{
            color: #161a1dee;
            font-size: 70px;
            font-family: "Anton SC", sans-serif;
            font-weight: 900;
            margin-top: 180px;
            margin-left: 290px;
            z-index: 1;
        }
        .AMAZONAS_DESCRIPTION{
            color: #484ec6;
            font-size: 20px;
            font-family: "Anton SC", sans-serif;
            font-weight: 900;
            margin-left: 100px;
        }
        /* AMAZONAS MAP IMG 🔰*/
        #AMAZONAS_MAP{
            width: 532px;
            height: 650px;
            /* background-color: rgba(65, 225, 78, 0.323); */
        }
        .AMAZONAS_MAP_STYLE{
            width: 550px;
            height: 650px;
        }
        /* AUTANA TITLE + DESCRIPTION 🔰*/
        #AUTANA_TITLE_DESCRIPTION{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            width: 300px;
            height: 650px;
            /* z-index: 1; */
            /* background-color: rgba(22, 42, 101, 0.642); */
        }
        .AUTANA_TITLE{
            color: #161a1dee;
            font-size: 50px;
            font-family: "Anton SC", sans-serif;
            font-weight: 900;
            margin-top: 300px;
            margin-right: 400px;
            z-index: 1;
        }
        .AUTANA_DESCRIPTION{
            color: #484ec6;
            font-size: 18px;
            font-family: "Anton SC", sans-serif;
            font-weight: 900;
        }
    }
}
#navbar{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1;
    bottom: 30px;

        .ul-direction{
            width: 1300px;
            height: 100px;
            display: flex;
            justify-content: center;
            align-items: center;
            list-style: none;
            gap: 10px;
            border: 1px solid rgba(50, 50, 50, 0.4);
            background: rgba(255, 255, 255, 0.041);
            border-radius: 15px;
            backdrop-filter: blur(20px);
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.552);
        }
        .Style-text{
            color: #161a1dee;
            font-size: 17px;
            font-family: "Alata", sans-serif;
            font-weight: 900;
        }
        .li-text{
            width: 120px;
            height: 60px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 10px;
            border: 2px solid #161a1dee;
        }
        .ICON-AMAZONAS-size{
            width: 60px;
            height: 60px;
        }
        .ALL_ICON{
            width: 80px;
            height: 60px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 10px;
            border: 2px solid #393f44;
            background-color: #393f44;
        }
}
.Style-text :active{
    color: #3239b4;
    background-color: #484ec643;
}
#CARRUSEL{
    min-height: 60vh;
    display: grid;
    place-items: center;
    /* background-color: aqua; */
}
.slider{
    width: 100%;
    height: 250px;
    margin: auto;
    position: relative;
    display: grid;
    place-items: center;
    overflow: hidden;
    /* background-color: darkblue; */
}
.slider-track{
    display: flex;
    width: calc(250px * 18);
    animation: scroll 35s linear infinite;
}
.slider-track:hover{
    animation-play-state: paused;
}
@keyframes scroll{
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(calc(-250px * 9));
    }
}
.slide{
    height: 100%;
    width: 250px;
    display: flex;
    align-items: center;
    padding: 30px;
    /* perspective: 100px; */
}
.img_carrusel{
    width: 100%;
    filter: grayscale(100%);
    transition: transform 1s;
    border-radius: 10px;
}
.img_carrusel:hover{
    filter: grayscale(0%);
    transition: 600ms;
    transform: translateY(-40px);
}
.slider::before,
.slider::after{
    background: linear-gradient(to right, #d8e4f7 0%,
    rgba(255,255,255,0) 100%);
    content: '';
    height: 100%;
    position: absolute;
    width: 15%;
    z-index: 2;
}
.slider::before{
    left: 0;
    top: 0;
}
.slider::after{
    right: 0;
    top: 0;
    transform: rotate(180deg);
}
#Box-selecionar{
    width: 400px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    /* background-color: rgba(0, 0, 139, 0.364); */

    #Selecionar{
        color: #2d2f31;
        font-size: 50px;
        font-family: "Anton SC", sans-serif;
        font-weight: 600;
    }
    #ARROW{
        color: #484ec6;
        font-size: 50px;
        font-weight: bold;
    }
}
#NEGOCIOS{
    padding:20vh;
    height: 100%;
    gap: 30px;
    justify-content: center;
    flex-direction: column;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    border: 2px solid #000000;
    background-color: #abb3c66b;

    .BOX_TITLE{
        width: 100%;
        height: 30vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        /* background-color: crimson; */

        .TITLE_NEGOCIOS{
            font-size: 60px;
            letter-spacing: 20px;
            color: #051650; 
            font-family: "Anton SC", sans-serif;
            font-weight: 800;
            font-style: normal;
        }
        .SUBTITLE_NEGOCIOS{
            font-size: 26px;
            color: #393f44;
            font-family: "Anton SC", sans-serif;
            font-weight: 800;
            font-style: normal;
        }
    }
}
#SECTION_CARDS{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    gap: 30px;
    /* background-color: #ff0000; */

    .NEGOCIOS_Card{
        width: 340px;
        height: 340px;
        /* display: flex; */
        /* justify-content: space-between; */
        padding: 1rem;
        border: 1px solid #ffffff;
        border-radius: 15px;
        background-color: #6060606f;
        box-shadow: 0 8px 8px rgba(0, 0, 0, 0.796);
    
        .BOX_title_subtitle{
            display: flex;
            flex-direction: column;
            width: 300px;
            /* background-color: #ff0000; */
    
            .title{
                position: relative;
                color: #D8E4F7  ;
                margin-top: 18px;
                margin-left: 20px;
                font-family: Arial, Helvetica, sans-serif;
                font-weight: 900;
                font-size: 1.5rem;
                text-shadow: 2px 2px 5px #161A1D;
            }
            .subtitle{
                position: relative;
                letter-spacing: 1px;
                color: #165551 ;
                margin-top: 3px;
                margin-left: 30px;
                font-family: Arial, Helvetica, sans-serif;
                font-weight: 800;
                font-size: 1.1rem;
                text-shadow: 2px 2px 5px #D8E4F7 ;
                /* text-shadow: 0 0 1px #2b00ff, 0 0 1px #2b00ff; */
            }
        }
        .IMG_NEGOCIO{
            width: 340px;
            height: 340px;
            filter: blur(2px);
            object-fit: cover;
            position: absolute;
            border-radius: 10px;
        }
    }
}
