*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #d8e4f7;
}
a {
    text-decoration: none;
}
#AMAZONAS{
    width: 100%;
    height: 90vh;
    /* background-color: rgba(0, 0, 0, 0.581); */

    #AMAZONAS_SECTION{
    display: flex;
    justify-content: center;
    
        /* AMAZONAS TITLE + DESCRIPTION 🔰*/
        #AMAZONAS_TITLE_DESCRIPTION{
            width: 350px;
            height: 200px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            gap: 20px;
            /* background-color: rgba(65, 105, 225, 0.642); */
        }
        .AMAZONAS_TITLE{
            color: #161a1dee;
            font-size: 3.5rem;
            font-family: "Anton SC", sans-serif;
            font-weight: 900;
            margin-top: 180px;
            margin-left: 290px;
            z-index: 1;
        }
        .AMAZONAS_DESCRIPTION{
            color: #484ec6;
            font-size: 1.2rem;
            font-family: "Anton SC", sans-serif;
            font-weight: 900;
            margin-left: 100px;
        }
        /* AMAZONAS MAP IMG 🔰*/
        #AMAZONAS_MAP{
            width: 532px;
            height: 650px;
            /* background-color: rgba(65, 225, 78, 0.323); */
        }
        .AMAZONAS_MAP_STYLE{
            width: 550px;
            height: 650px;
        }
        /* AUTANA TITLE + DESCRIPTION 🔰*/
        #AUTANA_TITLE_DESCRIPTION{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            width: 300px;
            height: 650px;
            /* z-index: 1; */
            /* background-color: rgba(22, 42, 101, 0.642); */
        }
        .AUTANA_TITLE{
            color: #161a1dee;
            font-size: 3.5rem;
            font-family: "Anton SC", sans-serif;
            font-weight: 900;
            margin-top: 300px;
            margin-right: 400px;
            z-index: 1;
        }
        .AUTANA_DESCRIPTION{
            color: #484ec6;
            font-size: 1.2rem;
            font-family: "Anton SC", sans-serif;
            font-weight: 900;
        }
    }
}
.Navbar{
    /* width: 100%; */
    position: fixed;
    /* display: absolute; */
    height: 100vh;
    z-index: 3;
}
.sidebar {
    /* position: absolute; */
    width: 256px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 24px;
    border-radius: 30px;
    transition: width 0.3s;
    backdrop-filter: blur(20px);
    background-color: #3c3e6d8c;
    font-family: "Anton SC", sans-serif;
}
.sidebar.reduced {
    width: 78px;
    padding: 24px 8px;
}
.sidebar .text_nav {
    display: inline-block;
    transition: opacity 0.3s;
}
.sidebar.reduced .text_nav {
    opacity: 0;
    width: 0;
    overflow: hidden;
}
.sidebar .head{
    display: flex;
    gap: 20px;
    padding-bottom: 20px;
    border-bottom: 3px solid #2a2a2a;
}
.user-img{
    width: 44px;
    height: 44px;
    border-radius: 50%;
    overflow: hidden;
}
.user-img img{
    width: 100%;
    object-fit: cover;
}
.user-details .title_nav,
.menu .title_nav{
    color: #361fe8;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.user-details .name_nav{
    font-size: 20px;
    font-weight: 900;
}
.menu ul li{
    list-style: none;
    margin-bottom: 5px;
}
.menu ul li a{
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 16px;
    font-weight: 500;
    color: #2a2a2a;
    text-decoration: none;
    padding: 12px 8px;
    border-radius: 8px;
    transition: all 200ms;
}
.menu ul li a:hover,
.menu ul li.active a{
    color: #f6f6f6;
    background-color: #f6f6f63b;
}
.menu ul li .text_nav{
    flex: 1;
}
.menu ul li #bx{
    font-size: 24px;
    transition: all 400ms;
}
.menu ul li.active .bx-chevron-down{
    transform: rotate(180deg);
}
.menu .sub-menu{
    display: none;
    margin-left: 20px;
    padding-left: 20px;
    padding-top: 5px;
    border-left: 1px solid #f6f6f6;
}
.menu .sub-menu li a{
    padding: 10px 8px;
    font-size: 14px;
}
.menu-btn {
    color: #484ec6;
    position: absolute;
    /* font-weight: bold; */
    font-size: 30px;
    right: -14px;
    top: 3.5%;
    width: 40px;
    height: 40px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: 1px solid #f6f6f6;
    background-color: #f6f6f697;
}
.menu-btn:hover i {
    color: #8f95ff;
}
.menu-btn:hover {
    border: 1px solid #8f95ff;
    background-color: #6a60fb30;
}
.menu-btn i {
    transition: all 600ms;
}
.sidebar.reduced .menu-btn i {
    transform: rotate(180deg);
}
.Style-text :active{
    color: #3239b4;
    background-color: #484ec643;
}
#CARRUSEL{
    min-height: 60vh;
    display: grid;
    place-items: center;
    /* background-color: aqua; */
}
.slider{
    width: 100%;
    height: 250px;
    margin: auto;
    position: relative;
    display: grid;
    place-items: center;
    overflow: hidden;
    /* background-color: darkblue; */
}
.slider-track{
    display: flex;
    width: calc(250px * 18);
    animation: scroll 35s linear infinite;
}
.slider-track:hover{
    animation-play-state: paused;
}
@keyframes scroll{
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(calc(-250px * 9));
    }
}
.slide{
    height: 100%;
    width: 250px;
    display: flex;
    align-items: center;
    padding: 30px;
    /* perspective: 100px; */
}
.img_carrusel{
    width: 100%;
    filter: grayscale(100%);
    transition: transform 1s;
    border-radius: 10px;
}
.img_carrusel:hover{
    filter: grayscale(0%);
    transition: 600ms;
    transform: translateY(-40px);
}
.slider::before,
.slider::after{
    background: linear-gradient(to right, #d8e4f7 0%,
    rgba(255,255,255,0) 100%);
    content: '';
    height: 100%;
    position: absolute;
    width: 15%;
    z-index: 2;
}
.slider::before{
    left: 0;
    top: 0;
}
.slider::after{
    right: 0;
    top: 0;
    transform: rotate(180deg);
}
#Box-selecionar{
    width: 400px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    /* background-color: rgba(0, 0, 139, 0.364); */

    #Selecionar{
        color: #2d2f31;
        font-size: 50px;
        font-family: "Anton SC", sans-serif;
        font-weight: 600;
    }
    #ARROW{
        color: #484ec6;
        font-size: 50px;
        font-weight: bold;
    }
}
#NEGOCIOS{
    padding: 18vh;
    height: 100%;
    /* gap: 30px; */
    justify-content: center;
    flex-direction: column;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    border: 2px solid #000000;
    background-color: #4f4f4f6b;

    .BOX_TITLE{
        width: 100%;
        height: 30vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        /* background-color: yellowgreen; */

        .TITLE_NEGOCIOS{
            font-size: 60px;
            letter-spacing: 20px;
            color: #030677; 
            font-family: "Anton SC", sans-serif;
            font-weight: 800;
            font-style: normal;
        }
        .SUBTITLE_NEGOCIOS{
            font-size: 26px;
            color: #393f44;
            font-family: "Anton SC", sans-serif;
            font-weight: 800;
            font-style: normal;
        }
    }
}
#SECTION_CARDS{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, auto);
    padding: 16px;
    gap: 20px;
    /* background-color: springgreen; */
}
#Card{
    width: 310px;
    height: 360px;
    padding: 20px;
    border: 2px solid #222229;
    border-radius: 10px;
    background-color: #ffffff2e;
    backdrop-filter: blur(20px);

    .Img_Box{
        width: 100%;
        height: 180px;
    
        .Img_Negocio{
            width: 100%;
            height: 100%;
            border-radius: 20px;
            object-fit: cover;
        }
    }
    .Text_Box{
        width: 100%;
        height: 100px;

        .TITLE_Negocio{
            width: 100%;
            height: 40px;
            font-size: 1.5em;
            color: #484ec6;
            font-family: "Anton SC", sans-serif;
            font-weight: 800;
            letter-spacing: 1.5px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .DESCRIPTION_Negocio{
            width: 100%;
            height: 60px;
            font-size: 0.90em;
            color: #222229;
            font-family: "Anton SC", sans-serif;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
    .BOX_CONOCER{
        display: flex;
        justify-content: end;
    }
    /* BOTON PARA IR A LA PAG DE NEGOCIO */
    #Button_Box{
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }
    .button-icon {
        display: flex;
        justify-content: center;
        border: 3px #222229 solid;
        width: 218px;
        height: 50px; 
        background-color: #e0e1dd;
        cursor: pointer;
    }
    #style_icon_negocio {
        color: #2a32c1;
        padding: 10px 10px 5px 10px;
        font-size: 25px;
        width: 25px;
        height: 25px;
    }
    .cube {
        display: flex;
        justify-content: end;
        transition: all 0.4s;
        transform-style: preserve-3d;
        width: 200px;
        height: 20px;
    }
    .button-icon:hover .cube {
        transform: rotateX(90deg);
    }
    .side {
        position: absolute;
        height: 47px;
        width: 160px;
        display: flex;
        font-size: 0.8em;
        justify-content: center;
        align-items: center;
        text-transform: uppercase;
        letter-spacing: 0.5px;
        font-weight: bold;
    }
    .top {
        background: #222229;
        color: #fff;
        transform: rotateX(-90deg) translate3d(0, 13.5px, 2em);
    }
    .front {
        background: #222229;
        color: #fff;
        transform: translate3d(0, 0, 1em);
    }
}
@media (max-width: 768px) {
    #SECTION_CARDS {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }
}
.BOX_CONOCER{
    display: none;
}
.NEGOCIOS_Card:hover .BOX_CONOCER{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30%;
    /* background-color: #000000; */
}
/*BOTON DE HOVER PARA CONOCER NEGOCIOS*/
.Btn {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 60px;
    height: 60px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    border: 1px solid #ffffff;
    box-shadow: 2px 2px 10px rgb(255, 255, 255);
    background-color: #382cce;
    transition: width 0.5s ease, border-radius 0.5s ease, box-shadow 0.5s ease;
}
.sign {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: width 0.5s ease, padding-left 0.5s ease;
}
.icon{
    font-size: 20px;
    color: white;
}
.text {
    position: absolute;
    right: 0%;
    width: 0%;
    opacity: 0;
    color: white;
    font-size: 1.3em;
    font-weight: 600;
    transition: opacity 0.5s ease, width 0.5s ease, padding-right 0.5s ease;
}
.Btn:hover {
    width: 180px;
    border-radius: 40px;
    transition: width 0.5s ease, border-radius 0.5s ease, box-shadow 0.5s ease;
}
.Btn:hover .sign {
    width: 30%;
    padding-left: 10px;
    transition: width 0.5s ease, padding-left 0.5s ease;
}
.Btn:hover .text {
    opacity: 1;
    width: 70%;
    padding-right: 10px;
    transition: opacity 0.5s ease, width 0.5s ease, padding-right 0.5s ease;
}
.Btn:active {
    transform: translate(2px, 2px);
}
.user_Afiliado{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    /* background-color: red; */

    .Afiliado{
        width: 100%;
        height: 100%;
        border-radius: 50%;
        object-fit: cover;
        /* background-color: cadetblue; */
    }
}
/* Estilos para el footer */
footer {
    background-color: #d8e4f7;
    backdrop-filter: blur(20px);
    padding: 20px 0;
    text-align: center;
    font-family: "Anton SC", sans-serif;
    border: 2px solid #000000;
}
.BOX_FOOTER_TITLE {
    max-width: 800px;
    margin: 0 auto;
}
.FOOTER_TITLE {
    font-size: 4rem;
    font-weight: bold;
    margin-bottom: 10px;
    color: #222cf4;
}
.FOOTER_SUBTITLE {
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 5px;
    color: rgb(29, 29, 29);
}