*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body{
    /* background-image: url(https://img.freepik.com/foto-gratis/arbol-verde-oscuro-bosque_23-2147676836.jpg?t=st=1734981781~exp=1734985381~hmac=256700c073e8cafe36398d2662dbe5cad3d5811d2f189679b067fcc7fd0e7811&w=360);
    object-fit: cover;
    background-size: cover;
    background-repeat: no-repeat; */
    background-color: #d8e4f7;
    padding: 5px;
}

