*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body{
    background-color: #5b6677;
}
.section_Grid{
    width: 190vh;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: bisque;
}
.grid-container {
    width: 600px;
    height: 600px;
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 6 columnas de igual tamaño */
    grid-template-rows: repeat(6, 1fr);   /* 6 filas de igual tamaño */
    gap: 10px; /* Espacio entre los elementos */
    background-color: slateblue;
}
.Elemento_1{
    width: 140px;
    height: 140px;
    background-color: #f10f0f;
}
.Elemento_2{
    width: 140px;
    height: 140px;
    background-color: #f10f0f;
}
.Elemento_3{
    width: 140px;
    height: 140px;
    background-color: #f10f0f;
}
.Elemento_4{
    width: 140px;
    height: 140px;
    background-color: #f10f0f;
}
.Elemento_5{
    width: 140px;
    height: 140px;
    background-color: #44f10f;
}
.Elemento_6{
    width: 140px;
    height: 140px;
    background-color: #44f10f;
}
.Elemento_7{
    width: 140px;
    height: 140px;
    background-color: #44f10f;
}
.Elemento_8{
    width: 140px;
    height: 140px;
    background-color: #44f10f;
}
.Elemento_9{
    width: 140px;
    height: 140px;
    background-color: #f1c40f;
}
.Elemento_10{
    width: 140px;
    height: 140px;
    background-color: #f1c40f;
}
.Elemento_11{
    width: 140px;
    height: 140px;
    background-color: #f1c40f;
}
.Elemento_12{
    width: 140px;
    height: 140px;
    background-color: #f1c40f;
}
.Elemento_13{
    width: 140px;
    height: 140px;
    background-color: #0f8ff1;
}
.Elemento_14{
    width: 140px;
    height: 140px;
    background-color: #0f8ff1;
}
.Elemento_15{
    width: 140px;
    height: 140px;
    background-color: #0f8ff1;
}
.Elemento_16{
    width: 140px;
    height: 140px;
    background-color: #0f8ff1;
}

@media (max-width: 480px) {
    .grid-container {
        grid-template-columns: repeat(3, 1fr); /* 2 columnas para pantallas muy pequeñas */
        grid-template-rows: auto; /* Ajusta filas automáticamente */
    }
}
@media (max-width: 768px) {
    .grid-container {
        grid-template-columns: repeat(4, 1fr); /* 3 columnas para pantallas pequeñas */
        grid-template-rows: repeat(3, 1fr);   /* Ajusta filas si es necesario */
    }
}

@media (max-width: 480px) {
    .grid-container {
        grid-template-columns: repeat(4, 1fr); /* 2 columnas para pantallas muy pequeñas */
        grid-template-rows: auto; /* Ajusta filas automáticamente */
    }
}